body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Verdala', sans-serif;
    background-color: #FFFFFF;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

#main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
    background-color: #ededed;
    line-height: 49px;
}

#main-nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

#main-nav > ul > li {
    display: block;
    height: 50px;
    cursor: pointer;
    text-align: center;
    margin: 0 20px;
}

#main-nav > ul > li > span {
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    color: #000000;
    font-size: 18px;
}

#main-nav > ul > li > span::after {
    content: "\25BE";
    display: block;
    position: absolute;
    font-size: 20px;
    right: -20px;
    bottom: -15px;
}

#main-nav > ul > li > ul {
    display: none;
    position: absolute;
    top: 50px;
    width: 220px;
    list-style: none;
    flex-direction: column;
}

#main-nav > ul > li:hover > ul {
    display: block;
}

#main-nav > ul > li > ul > li {
    text-align: left;
    height: 30px;
    line-height: 29px;
    background-color: #ededed;
    padding: 4px 10px;
}

#main-nav > ul > li > ul > li:hover {
    background-color: #dddcdc;
}

#main-nav > ul > li > ul > li > a {
    text-decoration: none;
}

#main-nav > ul > li > ul > li > a > span {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

main {
    display: block;
    width: 80%;
    margin: 20px auto;
}

.form-row {
    display: block;
    width: 100%;
    margin: 15px;
}
label {
    display: block;
    margin: 5px 0;
}
input {
    height: 20px;
}
input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]), textarea {
    display: block;
    padding: 4px 10px;
    border: 1px solid #cccccc;
    text-align: left;
    color: #000000;
    border-radius: 5px;
    width: 100%;
    transition: all .2s ease;
}
input[type="checkbox"], input[type="radio"] {
    vertical-align: middle;
}
.choice-group {
    display: block;
}
input:not([type="submit"]):focus, textarea:focus {
    transition: all .2s ease;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(90, 124, 187);
    -moz-box-shadow: 0px 0px 5px 0px rgb(90, 124, 187);
    box-shadow: 0px 0px 5px 0px rgb(90, 124, 187);
    border: 1px solid rgb(90, 124, 187);
}

input[type="submit"] {
    width: max-content;
    background-color: #62a762;
    color: #FFFFFF;
    border: rgb(13, 75, 13);
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    height: auto;
}

input[type="submit"]:hover {
    background-color: rgb(88, 184, 88);
}

table {
    width: 80%;
    display: block;
    margin: auto auto;
    border-spacing : 0;
    border-collapse : collapse;
}

table tr {
    width: 100%;
}

table td {
    width: max-content;
    max-width: 250px;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
}

table tr td {
    border-right: 1px dashed #cccccc;
}

table tr td:first-of-type {
    border-left: 1px dashed #cccccc;
}

table tr {
    border-bottom: 1px dashed #e4e4e4;
}